<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dawson Schedule Assist</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/universal.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <div class="top-box">
        <img alt="" class="logo" src="{{ url_for('static', filename='images/logo.png') }}">
        <h1 class="title">Dawson Schedule Assist</h1>
        <div class="info-btn">
            <input type="image" alt="Info" class="info-img" src="{{ url_for('static', filename='images/info_icon.png') }}">
        </div>
    </div>

    <div class="class-input">
        <span class="instruction">Enter your classes:</span>
    </div>
</body>
</html>