<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DSA (Temp)</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/universal.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <div class="top-box">
        <img alt="" class="logo" src="{{ url_for('static', filename='images/logo.png') }}">
        <h1 class="title">DSA (Temp)</h1>
        <div class="info-btn">
            <input type="image" alt="Info" class="info-img" src="{{ url_for('static', filename='images/info_icon.png') }}">
        </div>
    </div>

    <div class="class-input-box">
        <span class="instruction">Enter your classes:</span>
        <form method="post" action="/">
            <input type="text" name="class-input" id="class-input" class="input-box" placeholder="123-AB4-CD">
            <input type="submit" value="Add">
        </form>
    </div>
</body>
</html>