<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DSA (Temp)</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/universal.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <div class="top-box">
        <img alt="" class="logo" src="{{ url_for('static', filename='images/logo.png') }}">
        <h1 class="title">DSA (Temp)</h1>
        <div class="info-btn">
            <input type="image" alt="Info" class="info-img" src="{{ url_for('static', filename='images/info_icon.png') }}">
        </div>
    </div>

    <div class="class-input-box">
        <span class="instruction">Enter your classes:</span>
        <form method="post" id="class-input-form">
            <input type="text" name="class-input-box" id="class-input" class="input-box" placeholder="123-AB4-CD">
            <input type="submit" value="Add">
        </form>

        {% for id, class in classes.items() %}
            <div class="class-display">
                <span>{{ class }}</span>
                <form method="post" id="class-remove-form">
                    <input type="image" name="class-remove" value="e" alt="Remove" class="remove-img" src="{{ url_for('static', filename='images/remove.png') }}">
                </form>
            </div>
        {% endfor %}
    </div>

    <script src="{{ url_for('static', filename='js/formListener.js') }}"></script>
</body>
</html>